@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color-primary: #6d91ee;
    --color-primary-dark: #5180f6;
    --color-secondary: #eec04b;
    --color-text-grey-dark: #4f4f4f;
    --color-text-white: #fff;
    --color-text-primary: #324473;
    --color-text-primary-dark: #22366a;
}

body {
    background-color: #f5f5f5;
    font-family: "Poppins", sans-serif;
}

.img-container {
    height: 100%;
    width: 66%;
    clip-path: url(/sections_clip.svg#custom-clip);
    overflow: hidden;
    background-color: #e7e7e6;
}

.logo-container {
    align-self: start;
    width: 55px;
    height: 39px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-logo-icon {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: currentColor;
    mask-image: url(/logo.svg);
    mask-repeat: no-repeat;
    mask-size: contain;
    font-size: 30px;
}
.header-content--container {
    height: 100%;
}

.header-content--title {
    height: 100%;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header-content--title .header1 {
    color: var(--color-primary);
    margin-block: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.header-content--title .header1 .title {
    font-weight: 300;
    font-size: 40px;
    line-height: 80%;
    text-align: start;
    text-transform: capitalize;
}
.header-content--container .header1 .title p {
    font-weight: 800;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 11px;
}

.header-content--title .label {
    border-radius: 11px;
    background: var(--color-primary);
    color: var(--color-text-white);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 4px 30px;
}

.text-header {
    display: flex;
    flex-direction: column;
    color: var(--color-text-grey-dark);
    font-size: 65px;
    font-weight: 800;
    line-height: 60px;
    padding-block: 0.5rem;
}

.text-header span {
    font-weight: 100;
}

.about-text {
    width: 65%;
    color: var(--color-text-grey-dark);
    font-weight: 600;
    font-size: 13px;
    line-height: 20.5px;
}

.button {
    text-transform: capitalize;
    border-radius: 50px;
    padding: 15px 60px;
    font-weight: 600;
    width: fit-content;
    margin-inline: auto;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}
.button:active {
    transform: translateY(-3px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.button-primary {
    color: var(--color-text-white);
    background-color: var(--color-primary-dark);
}

.button-secondary {
    color: var(--color-text-grey-dark);
    background-color: var(--color-secondary);
}

.about-section {
    background-image: linear-gradient(
            rgba(81, 128, 246, 0.5),
            rgba(81, 128, 246, 0.5)
        ),
        url(../images/about_section.jpg);
    background-size: cover;
    background-position: center;
    margin-inline: auto;
    padding-block: 2rem;
    position: relative;
}

.about-section-clip {
    clip-path: url(/sections_clip.svg#custom-clip);
    height: 100%;
    background-color: var(--color-primary-dark);
    width: 66%;
    rotate: 180deg;
    position: absolute;
    right: 0;
    top: -5px;
    z-index: 1;
}
.about-section-content {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-section-content .title {
    font-weight: 900;
    font-size: 64px;
    line-height: 89.5px;
    text-shadow: 0px 5px 10px #00000030;
}

.about-section-content p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.about-section-content .image-container {
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
}

.about-section-content .image-container img {
    width: 100%;
}
.section {
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.section-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 89.5px;
    text-align: center;
    color: var(--color-primary);
    margin-inline: auto;
    width: fit-content;
}

.section-title span {
    background-color: var(--color-primary-dark);
}

.vertical-card {
    color: var(--color-text-primary);
}
.stars-container {
    display: flex;
    gap: 5px;
}
.stars-container .star {
    clip-path: url(/star_icon.svg#star-clip);
    width: 15px;
    height: 15px;
    overflow: hidden;
    position: relative;
    background-color: var(--color-text-grey-dark);
}
.star .fill-element {
    background-color: var(--color-primary);
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
}

.stars-container .star.checked {
    background-color: var(--color-primary);
}

.horizontal-card {
    border-color: var(--color-primary);
    border-radius: 2.5rem;
}

.horizontal-card .testimonial-title {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.horizontal-card .testimonial-comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text-primary-dark);
}
